<div>
    <form>
        <div class="form-group">
            <label for="Matricula">Matricula</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="Nombre">Nombre</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="NumeroAmarre">Numero de Amarre</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="Cuota">Cuota</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="SocioId">Dueño</label>
            <select class="form-control">
                <option>Socio1</option>
                <option>Socio2</option>
                <option>Socio3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Telefono">Telefono</label>
            <input type="text" class="form-control">
        </div>
        <button class="btn btn-lg btn-success"> Guardar</button>
    </form>

</div>