
<div>
    <button class="btn btn-success btn-lg">Registrar Socio</button>
    <br />
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let socio of socios">
                <td>{{ socio.socioId }} </td>
                <td>{{ socio.nombre }} </td>
                <td>{{ socio.apellido }} </td>
                <td>{{ socio.cedula }} </td>
                <td>{{ socio.direccion }} </td>
                <td>{{ socio.telefono }} </td>
                <td>
                    <button class="btn btn-info">Editar</button>
                    <button class="btn btn-danger">Borrar</button>
                </td>
            </tr>
        </tbody>
        
    </table>
</div>